

<textarea id="text" rows=10 cols=80>
</textarea>

<button onClick="doSomething()">&#xe8;</button>
<button onClick="doSomething2()">?</button>


<script>
const doSomething = () => {
	document.getElementById("text").value+= "\u00E8";
}

const doSomething2 = () => {
	document.getElementById("text").value+= "\u0B2B";
}
</script>